{% extends 'base.html' %}

{% block style %}
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }

    .score-cards {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      margin-left: 240px;
      margin-right: 240px;
    }

    .score-card {
      width: 200px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-radius: 20px;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      margin: 0 10px;
    }

    .score-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    }

    .score-card h2 {
      margin-top: 0;
      color: #333;
      font-size: 24px;
    }

    .score-card .score {
      font-size: 36px;
      color: #ff521b;
      font-weight: bold;
      margin: 10px 0;
    }

    .description-section {
      display: flex;
      justify-content: space-around;
      margin-top: 60px;
      margin-left: 100px;
      margin-right: 100px;
    }

    .description-card {
      width: 300px;
      padding: 20px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      margin-bottom: 30px;
    }

    .description-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    }

    .description-card h2 {
      margin-top: 0;
      color: #333;
      font-size: 24px;
    }

    .description-card p {
      margin-bottom: 10px;
      color: #555;
      font-size: 16px;
    }

    .description-card ul {
      padding-left: 20px;
    }

    .description-card ul li {
      margin-bottom: 5px;
      color: #777;
    }
 {% endblock %}
{% block body %}
  <h1 style="text-align: center; color: black; margin-top: 40px;">Score: {{ total_score }}</h1>
  <div class="score-cards">
    {% if correcteness < 50.0 %}
      <div class="score-card" style="border-top: 10px solid red;">
        <h2>Correctness</h2>
        <p class="score">{{ correcteness }}%</p>
      </div>
    {% else %}
      <div class="score-card" style="border-top: 10px solid greenyellow;">
        <h2>Correctness</h2>
        <p class="score">{{ correcteness }}%</p>
      </div>
    {% endif %}

    {% if completeness < 50.0 %}
      <div class="score-card" style="border-top: 10px solid red;">
        <h2>Completeness</h2>
        <p class="score">{{ completeness }}%</p>
      </div>
    {% else %}
      <div class="score-card" style="border-top: 10px solid greenyellow;">
        <h2>Completeness</h2>
        <p class="score">{{ completeness }}%</p>
      </div>
    {% endif %}

    {% if compliance < 50.0 %}
      <div class="score-card" style="border-top: 10px solid red;">
        <h2>Compliance</h2>
        <p class="score">{{ compliance }}%</p>
      </div>
    {% else %}
      <div class="score-card" style="border-top: 10px solid greenyellow;">
        <h2>Compliance</h2>
        <p class="score">{{ compliance }}%</p>
      </div>
    {% endif %}

  </div>
  <div class="description-section">
    <div class="description-card">
      <h2>Attribute Score</h2>
      <p>Score: {{ score["attribute score"]["score"] }}/{{ score["attribute score"]["total"] }}</p>
      <p>Percentage: {{ score["attribute score"]["percentage"] }}%</p>
      <h4>Recommendations:</h4>
      <ul>
        <li>Add: {{ score["attribute score"]["recommendation"]["add"] |join(', ') }}</li>
        <li>Rename: {{ score["attribute score"]["recommendation"]["rename"] |join(', ') }}</li>
        <li>Remove: {{ score["attribute score"]["recommendation"]["remove"] |join(', ') }}</li>
      </ul>
    </div>
    <div class="description-card">
      <h2>Null Score</h2>
      <p>Total Null: {{ score["null score"]["totalNull"] }}</p>
      <p>Total Percent: {{ score["null score"]["totalPercent"] }}%</p>
      <h4>Columns with Null Values:</h4>
      <ul>
        {% for column, count in score["null score"]["columns"].items() %}
          <li>{{ column }}: {{ count }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="description-card">
      <h2>Image Score</h2>
      <p>Clear: {{ score["image score"]["clear"] }} ({{ score["image score"]["clear percentage"] }}%)</p>
      <p>Blur: {{ score["image score"]["blur"] }} ({{ score["image score"]["blur percentage"] }}%)</p>
      <p>No Image: {{ score["image score"]["no image"] }} ({{ score["image score"]["no image percentage"] }}%)</p>
    </div>
  </div>
{% endblock %}
